body {background-color:#756363;}
div {
  position: static;
  margin: auto;
  height: 90%;
  width: 80%;
  margin-top: 25px;
  max-width: 660px;
}
.centrat {text-align: center;}
p {
  font-family: Arial;
  font-size: 14px;
  font-style: italic;
}
a:link    {color:#A27C71;}
a:visited {color:#283B42;}
a:hover   {color:#5AACC1;}
table {
  width: 80%;
  margin: auto;
}
th, td {
  text-align: center;
  vertical-align: center;
}
td {padding: 1%;}
th {
  padding: 3%;
  font-size:  1.4em;
  font-style: italic;
}
tr:nth-child(odd)  {background-color: #A49592}
tr:nth-child(even) {background-color: #A27C71}
h1, h3, h4, th {
  color:#5AACC1;
  text-shadow: 2px 2px #283B42;
}
h1, h4 {background-color:#A27C71;}
h1 {text-align:center;}
#llista_links {background-color: #A49592;}
