body {
  background-color:#785D4B
}
div {
  position: static;
  margin: auto;
  height: 90%;
  width: 80%;
  margin-top: 25px;
  max-width: 660px;
}
table {
  width: 80%;
  margin: auto;
}
th, td {
  text-align: center;
  vertical-align: center;
  padding: 1%;
}
tr:nth-child(even){background-color: #C4A48F}
tr:nth-child(odd){background-color: #C48C68}
h1, h3, h4 {
  color:#54C0C4;
  text-shadow: 3px 2px #4B7678;
}
h1, h4 {
  background-color:#C48C68;
}
h1 {
  text-align:center;
}
p {
  font-family: Arial;
  font-size: 14px;
  font-style: italic;
}
a:link {
  color:#C48C68;
}
a:visited {
  color:#4B7678;
}
a:hover {
  color:#54C0C4;
}
ul {
  font-family: Arial;
  background-color: #C4A48F;
}
